{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Predict News Topic{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3>News Features</h3>
    <form method="POST" action="/news_classify" enctype=multipart/form-data style="margin-bottom: 100px;">
        <span style="width: 100%; display: inline-flex; margin:10px">
            <label for='url' style="display: block;">News URL: </label>
            {% if title == source %}
            <input name="url" style="width: 70%; padding: 2px;" value="{{url}}"/>
            {% else %}
            <input name="url" style="width: 70%; padding: 2px;" value=""/>
            {% endif %}
        </span>
        <div style="margin: 10px; width: 90%; text-align: left;">
          <input style="width: 200px; align-items: left;" type="submit" value="Predict">
        </div>
    </form>
    <div><strong>News category: <strong>{{category}}</div>
{% endblock %}